albumentations==2.0.8
attr==0.3.2
backports.statistics==0.1.0
beautifulsoup4==4.15.0
clip==0.2.0
comet_ml==3.58.6
ConfigParser==7.2.0
coremltools==9.0
cryptography==50.0.1
csscompressor==0.9.5
docutils==0.23
dvclive==3.49.1
filelock==3.32.6
flatbuffers==25.12.19
h2==4.1.0
HTMLParser==0.0.2
hub_sdk==0.0.25
ipython==8.12.3
ipywidgets==8.1.9
jnius==1.1.0
js==1.0
jsmin==3.0.1
keyring==25.7.0
lap==0.5.13
lvis==0.5.3
matplotlib==3.7.5
mct_quantizers==1.7.0
minify_html==0.18.1
MNN==3.6.1
model_compression_toolkit==2.6.0
mss==10.2.0
ncnn==1.0.20260526
nncf==3.3.0
numpy==1.24.4
onnx==1.17.0
onnx2tf==2.6.9
onnxruntime==1.19.2
onnxslim==0.1.96
opencv_python==4.13.0.92
openvino==2026.3.1
paddle==1.4.1
pafy==0.5.5
pandas==2.0.3
peft==0.13.2
Pillow==12.3.0
pillow_heif==1.7.0
psutil==7.2.2
py_cpuinfo==9.0.0
pycocotools==2.0.7
pyodide==0.0.2
pyOpenSSL==26.4.0
pytest==9.1.1
pytubefix==11.1.0
PyYAML==6.0.2
PyYAML==6.0.3
ray==2.58.0
redis==8.1.0
roboflow==1.4.2
safetensors==0.8.0
sahi==0.12.6
scipy==1.18.1
seaborn==0.13.2
sentry_sdk==2.63.0
Shapely==2.1.2
sony_custom_layers==0.3.0
Sphinx==9.1.0
streamlit==1.63.0
super_gradients==3.7.1
tensorflow==2.21.0
tensorflowjs==4.22.0
tensorrt==11.3.0.99
tflite_runtime==2.14.0
tflite_support==0.4.4
thop==0.1.1.post2209072238
thread==2.0.6
torch==2.1.0
torchinfo==1.8.0
torchvision==0.16.0
tqdm==4.68.2
transformers==4.46.3
tritonclient==2.72.0
typing_extensions==4.16.0
ultralytics_thop==2.0.20
x2paddle==1.6.0
xmlrpclib==1.0.1
yt_dlp==2026.8.19
